.container{
    border: 1px solid rgb(189, 189, 189);
    height: 400px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.logo{
    height: 55px;
    width: 175px;
}
input{
    border: 1px solid rgb(189, 189, 189);
    margin: 8px 40px;
    padding: 5px;
    height: 38px ;
    width: 268px;
}
.Button{
    border: none;
    color: white;
    margin: 8px 40px;
    height: 32px;
    width: 268px;
    background: #1b74e4;
}
a{
    color: #1b74e4;
    cursor: pointer;
}
.error-message{
    margin: 8px 40px;
    color: red;
}
.success-message{
    margin: 8px 40px;
    color: green;
}